@font-face {
  font-family: "Karla";
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/Karla/karlaregular.woff2") format("woff2"),
  url("/fonts/Karla/karlaregular.woff") format("woff");
}

@font-face {
  font-family: "Karla";
  font-weight: bold;
  font-display: swap;
  src: url("/fonts/Karla/karlabold.woff2") format("woff2"),
  url("/fonts/Karla/karlabold.woff") format("woff");
}

@font-face {
  font-family: "DM Serif Display";
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/DM_Serif_Display/dmserifdisplayregular.woff2") format("woff2"),
  url("/fonts/DM_Serif_Display/dmserifdisplayregular.woff") format("woff");
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", "Arial", sans-serif;
} 

.no-scroll {
  
}

img {
  display: block;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 24px;
}

.site-header {
  padding-block: 24px;
  position: relative;
  z-index: 1;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hambur-menu-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border: 1.5px solid #2c2830;
  background-color: transparent;
  background-image: url("/images/hamburgericon.svg");
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-position: center;
  
}

.site-header__navbar-menu {
  display: none;
  position: absolute;
  align-items: center;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  padding-top: 40px;
  padding-inline: 24px;
  background-image: url("/images/hamburmenubgimg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 0px) calc(50% - 20px);
}

.show-menu .hambur-menu-btn {
  background-image: url("/images/closeicon.svg");
  background-size: 14px 13px;
}

.show-menu .site-header__navbar-menu {
  display: flex;
}

.navbar {
  /* margin-right: 33px; */
  margin-bottom: 24px;
}

.navbar__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-block: 0;
  list-style-type: none;
  /* column-gap: 25px; */
  flex-direction: column;
  row-gap: 24px;
}

.navbar__item {
  
}

.navbar__link {
  
  
  color: #fff;
  text-decoration-line: none;
  text-align: center;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 1.364px;
  
}

.site-header__view-link {
  display: inline-block;
  min-width: 148px;
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration-line: none;
  border: 1.5px solid #2C2830;
  padding-block: 13px 12px;
  padding-inline: 20px;
  color: #FFF;
  text-decoration-line: none;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 1.364px;
  border: 1.5px solid #FFF;
}



/* site main  */

.hero {
  background-color: #2D2641;
}

.hero__inner {
  display: flex;
  flex-direction: column;
}

.hero__inner-img {
  position: relative;
  min-width: 280px;
  height: 351px;
  right: 24px;  
}

.hero__text-wrap {
  width: 232px;
  margin-top: 70px;
  width: 100%;
  padding-bottom: 69px;
}

.hero__title {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 100% */
  letter-spacing: -0.667px;
  margin-bottom: 12px;
  width: 100%;
  
}

.hero__desc {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 162.5% */
  margin-bottom: 24px;
  width: 100%;
  
}

.hero__link {
  display: inline-flex;
  text-decoration-line: none;
  color: #FFF;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border: 1px solid #FFF;
  padding-block: 9px;
  padding-inline: 21px;
  margin-left: 56px;
}

/* section feature style  */

.feature__inner {
  margin-top: 135px;
  
}

.feature__title {
  margin: 0;
  color: #2C2830;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 100% */
  letter-spacing: -0.667px;
}

.feature__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}

.feature__img {
  display: flex;
  margin-inline: auto;
  margin-bottom: 24px;
  width: 64px;
  height: 64px;
}

.feature__list-title {
  margin: 0;
  color: #2C2830;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.389px;
  margin-bottom: 12px;
}


.feature__desc {
  margin: 0;
  color: #837D88;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/* article styles  */

.site-article {
  padding-top: 104px;
}

.article__inner {
  width: 244px;
  background-image: url("/images/articlebgimg.svg");
  height: 257px;
  background-position: center;
  background-repeat: no-repeat;
}

.article__title {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: -0.556px;
  padding-top: 54px;
  margin-bottom: 30px;
}


.article__link {
  text-decoration-line: none;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  border: 1.5px solid #FFF;
  padding-block: 9px;
  padding-inline: 18px;
  margin-left: 50px;
}

/* site footer styles  */

.site-footer {
  margin-top: 104px;
  background-color: #FAFAFA;
  padding-bottom: 88px;
}


.footer__inner {
  display: flex;
  flex-direction: column;
  padding-top: 67px;
}

.footer-logo-link {
  display: flex;
  margin-inline: auto;
}

.footer__social-list  {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 16px;
  margin-inline: auto;
  margin-top: 24px;
  margin-bottom: 40px;
}

.footer__social-link  {
  text-decoration-line: none;
}

.footer__link-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__link-title {
  margin: 0;
  color: #837D88;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  margin-bottom: 27px;
  margin-top: 40px;
}

.footer-link-anchor {
  text-decoration-line: none;
  color: #2D2641;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
}

.footer__link-item {
  margin-inline: auto;
}


@media only screen and (min-width: 375px) {
  .site-header__navbar-menu {
    background-size: 100%;
  }
  
  .hero__inner-img {
    position: relative;
    width: 375px;
    height: 451px;
    right: 24px;  
  }
  
  .hero__text-wrap {
    width: 327px;
    padding-bottom: 93px;
  }
  
  .hero__title {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 100% */
    letter-spacing: -0.667px;
    margin-bottom: 16px;
  }
  
  .hero__desc {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 32px;
  }
  
  .hero__link {
    display: inline-flex;
    text-decoration-line: none;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    border: 1.5px solid #FFF;
    padding-block: 12px 13px;
    padding-inline: 28px;
    margin-left: 91px;
  }
  
  
  .feature__inner {
    margin-top: 181px;
    
  }
  
  .feature__title {
    font-size: 48px;
  }
  
  .feature__list {
    margin-top: 80px;
    row-gap: 56px;
  }
  
  .feature__img {
    margin-bottom: 32px;
    width: 86px;
    height: 86px;
  }
  
  .feature__list-title {
    font-size: 28px;
    margin-bottom: 16px;
  }
  
  
  .feature__desc {
    font-size: 16px;
  }
  
  
  /* article styles  */
  
  .site-article {
    padding-top: 140px;
    padding-bottom: 140px;
  } 
  
  
  .article__inner { 
    width: 327px;
    height: 344px;
  }
  
  
  .article__title {
    margin: 0;
    padding-top: 72px;
    margin-bottom: 40px;
    font-size: 40px;
  }
  
  
  .article__link  {
    padding-block: 13px;
    padding-inline: 25px;
    margin-left: 83px;
  }

  .site-footer {
    background-color: #FAFAFA;
    margin-top: 0;
  }
  
  
  .footer__inner {
    display: flex;
    flex-direction: column;
    padding-top: 88px;
  }
  
  
}

@media only screen and (min-width: 700px) {
  
  .container {
    min-width: 1140px;
  }
  
  .site-header {
    padding-block: 21px 19px;
  }
  
  .site-header__navbar-menu {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-image: none;
    padding: 0;
  }
  
  .navbar {
    margin-right: 33px;
    margin-bottom: 0;
  }
  
  .navbar__list {
    column-gap: 25px;
    flex-direction: row;
  }
  
  .navbar__link {
    color: #837D88;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    text-decoration-line: none;
  }
  
  .navbar__link:hover {
    color: #2C2830;
    transition: color 0.5s linear;
  }
  
  .site-header__view-link {
    display: inline-block;
    min-width: 148px;
    width: auto;
    letter-spacing: 1.5px;
    text-decoration-line: none;
    border: 1.5px solid #2C2830;
    padding-block: 13px;
    padding-inline: 20px;
    color: #2C2830;
    text-decoration-line: none;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
  }
  
  .site-header__view-link:hover {
    border: 1.5px solid #2C2830;
    background: #2C2830;
    color: #fff;
    transition: color 0.5s linear;
  }
  
  .hambur-menu-btn {
    display: none;
  }
  
  .hero__inner {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .hero__inner-img {
    width: 540px;
    height: 650px;
    right: 0;
    top: 85px;
    z-index: 1;
  }
  
  .hero__text-wrap {
    width: 540px;
    padding-top: 169px;
    margin-top: 0;
  }
  
  .hero__title {
    color: #FFF;
    font-family: "DM Serif Display";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 88.889% */
    letter-spacing: -1px;
  }
  
  .hero__desc {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 0;
  }
  
  .hero__link {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    margin-left: 0;
    margin-top: 24px;
  }
  
  .hero__link:hover {
    border: 1.5px solid #FFF;
    background: #FFF;
    color: #2C2830;
    
  }
  
  .feature__title {
    color: #2C2830;
    font-family: "DM Serif Display";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 88.889% */
    letter-spacing: -1px;
    text-align: start;
  }
  
  .feature__list {
    flex-direction: row;
    column-gap: 30px;
  } 
  
  .feature__img {
    display: inline;
  }
  
  .feature__list-title {
    color: #2C2830;
    font-family: "DM Serif Display";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.389px;
    text-align: start;
  }
  
  .feature__desc {
    color: #837D88;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  
  .site-article {
    padding-top: 158px;
    padding-bottom: 150px;
  } 
  
  
  .article__inner {   
    background-image: url("/images/desktopbgimg.svg");
    width: 1110px;
    height: 250px;
    display: flex;
    justify-content: space-between;
  }
  
  .article__title-wrap {
    width: 475px;
    margin-left: 80px;
  }
  
  .article__title {
    color: #FFF;
    font-family: "DM Serif Display";
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 100% */
    letter-spacing: -0.778px;
  }
  
  .article__link-wrap {
    margin-right: 80px;
    margin-block: auto;
  }
  
  .article__link  {
    display: inline-flex;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
  }
  
  
  /* site footer styles  */

.site-footer {
  margin-top: 150px;
  background-color: #FAFAFA;
  padding-bottom: 64px;
}


.footer__inner {
  display: flex;
  flex-direction: row;
  padding-top: 64px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.footer-logo-link {
  display: block;
  margin-inline: 0;
}


.footer__link-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__social-list  {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 16px;
}

.footer__social-link  {
  text-decoration-line: none;
}

.footer__link-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__link-title {
  margin: 0;
  color: #837D88;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  margin-bottom: 27px;
  margin-top: 40px;
}

.footer-link-anchor {
  text-decoration-line: none;
  color: #2D2641;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
}

.footer__link-item {
  margin-inline: auto;
}

.site-article {
  padding-bottom: 0;
}

}



@media only screen and (min-width: 900px) {
  
  .container {
    padding-inline: 20px;
  }
  
  .site-header {
    padding-block: 21px 19px;
  }
}

